---
import Layout from '../layouts/Layout.astro';
import {getCollection} from 'astro:content'
const books = getCollection('books')
---

<Layout title="Welcome to Astro.">
	<main>
		<h1 class="text-6xl font-extrabold text-center">My Favorite <span class="block">Books</span></h1>
	</main>
</Layout>
